streamlit-vega-lite==0.1.0
streamlit-player==0.1.5
streamlit-lottie==0.0.3
streamlit-tags==1.2.8
pandas==1.5.3  # A newer version with prebuilt wheels
numpy==1.23.5  # Precompiled binary for Python 3.12
streamlit==1.10.0
hydralit-components==1.0.10
mlxtend==0.20.0
seaborn==0.11.2
scikit-learn==1.1.2
pip==24.2.0  # Latest pip version
setuptools==75.1.0
wheel==0.44.0
build-essential


